@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,400italic);
article,aside,details,dialog,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}audio[controls],canvas,video{display:inline-block;*display:inline;zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}abbr,address,article,aside,audio,b,blockquote,body,body div,caption,cite,code,dd,del,dfn,dl,dt,em,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}html{height:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{min-height:100%;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;text-rendering:optimizeLegibility}blockquote,dd,li,p{-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;hyphens:auto;}h1{font-size:2.75em;line-height:1.2em;margin-bottom:.4em}h2{font-size:2em;line-height:1em;margin-bottom:.5em}h3{font-size:1.5em;line-height:1.33em;margin-bottom:.6667em}h4{font-size:1.25em;line-height:1em;margin-bottom:1em}h5{font-size:1em;line-height:1.142em;margin-bottom:1.142em}h6{font-size:.9em;line-height:1.33em;margin-bottom:1.33em}dl,ol,p,ul{font-size:1em;line-height:1.625em;margin-bottom:1.5em}small{font-size:.875em;line-height:1.714em;margin-bottom:1.714em}b,dt,strong{font-weight:700}ol,ul{list-style-position:inside}dd,li ol,li ul{margin-left:1.5em}blockquote,q{quotes:none;font-size:1.1em;font-style:italic}blockquote{border-left:2px solid #282828;padding-left:2em}cite{font-size:.8em;font-style:normal;margin-left:1em}cite:before{content:'\2d'}sub,sup{font-size:75%;line-height:0;position:relative}sup{top:-.5em}sub{bottom:-.25em}embed,img,object,video{max-width:100%;_width:100%}a img{outline:0}img{height:auto;-ms-interpolation-mode:bicubic;display:block;margin:0}svg:not(:root){overflow:hidden}abbr[title],acronym,dfn[title]{cursor:help}ins,mark{text-decoration:none}del{text-decoration:line-through}table{font:100%;text-align:left;border-collapse:collapse;border-spacing:0}th{font-weight:700;vertical-align:bottom;padding:1em}td{font-weight:400;vertical-align:top;padding:1em}button{font-family:inherit;font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle line-height:normal;*overflow:visible cursor:pointer;-webkit-appearance:button}button::-moz-focus-inner{border:0;padding:0}

html{
	background:#f1f1f1;
	color:#555;
	overflow-x:hidden;
}
body{
	font:87.5% 'Roboto',sans-serif;
}
h1,h2,h3,h4{
	color:#222;
}
h1,h2{
	font-weight:400;
}
a{
	color:#F46346;
	text-decoration:none;
}
a:hover,a:focus{
	color:#000;
}
body,button,a{
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
#alert {
    background-color: #428BCA;
    color: #FFFFFF;
    display: block;
    font-size: 1.3em;
    padding: 16px 0;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
	display: none;
}
.overlay{
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#262522;
	color:#fff;
	text-align:center;
}
.overlay p{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:22.500em;
	height:10em;
	margin:auto auto;
}
/*----------------------------
	MOVING PARTS
----------------------------*/
.sidebar{
	-webkit-transform:translateX(-100%);
	-moz-transform:translateX(-100%);
	-ms-transform:translateX(-100%);
	-o-transform:translateX(-100%);
	transform:translateX(-100%);
}
/*.slide-in class is toggled using the script in js/scripts.js*/
.shift{
	-webkit-transform:translateX(300px);
	-moz-transform:translateX(300px);
	-ms-transform:translateX(300px);
	-o-transform:translateX(300px);
	transform:translateX(300px);
}
/*----------------------------
	HEADER
----------------------------*/
.head{
	width:100%;
	background:#262522;
	padding:1em 0.5em 1em 3.5em;
}
.head:after{
	content:"";
	display:table;
	clear:both;
}
.head h1,.head p{
	margin-bottom:0;
}
.head h1{
	font-size:1em;
	text-transform:uppercase;
	color:#fff;
	float:left;
}
#menu{
	position:absolute;
	top:0.4em;
	left:0.2em;
	width:2.5em;
	height:2.5em;
	background:#F46346;
	border:0;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;
	outline:0;
	cursor:pointer;
	z-index:100
}
#menu:before{
	position:absolute;
	content:"";
	top:.65em;
	left:.52em;
	width:1.45em;
	height:.25em;
	background:#fff;
	box-shadow:0 .25em #F46346,0 .5em #fff,0 .75em #F46346,0 1em #fff
	}
#menu.close:before{
	content:"\d7";
	font-size:3em;
	line-height:.45em;
	text-align:center;
	top:0;
	left:0;
	width:auto;
	height:auto;
	background:0 0;
	padding:0.15em 0.15em;
	box-shadow:none
}
nav{
	float:right;
}
nav a{
	width:2.5em;
	height:2.5em;
	background:#F46346;
	font-size:1.2em;
	line-height:0;
	color:#fff;
	text-align:center;
	padding:0.4em 0.6em;
}
nav a:hover{
	color:#fff;
}
/*----------------------------
	SUB MENU
----------------------------*/
.submenu{
	width:100%;
	background:#ccc;
	text-align:center;
	margin-bottom:5em;
}
.submenu a{
	display:inline-block;
	color:#555;
	padding:1em 0.5em;
}
.submenu a:hover,.submenu a.selected{
	background:#F46346;
	color:#fff;
}
/*----------------------------
	CONTENT
----------------------------*/
.content{
	position:relative;
	max-width:60em;
	padding:2em 1em;
	margin:0 auto 5em;
}
.content:after{
	content:"";
	display:table;
	clear:both;
}
/*---DASHBOARD-------*/
.dashboard_left{
    float:left;
    width:45%;
}

.dashboard_right{
    float:right;
    width:45%;
}

.dashboard_box{
    background:#FDFDFD;
    margin-bottom:2em;
    padding:0 1em 1em;
}

.dashboard_title{
	font-size:1.5em;
	font-weight:700;
	text-transform:uppercase;
	margin-bottom:1em;
	color:#222;
}

p.empty {
	font-style:italic;
}

/* Quick links */
div.wrap_quick{
	margin-bottom:1em;
}
a.quick{
	display:block;
	width:100%;
	background:#F46346;
	color:#fff;
	text-align:center;
	padding:1em 0.5em;
	margin:0.2em auto;
}
a.quick:hover{
	background:#111;
	color:#fff;
}

/* Drafts */
.dashboard_box a.draft,.dashboard_box a.last_comments{
    display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	border-left:2px solid #222;
	padding-left:0.5em;
	margin:1em 0;
}
.dashboard_box a.last_comments .content{
	margin-bottom:1em;
	font-size:0.75em;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.dashboard_box a.last_comments .info{
	font-size:1em;
	color:#aaa;
}

.dashboard_box a.comment_spam{
	border-left:2px solid #D72020 !important;
}

.dashboard_box a.comment_unapproved{
	border-left:2px solid #F1CC19 !important;
}

/* Notifications */
.notification{
    display:block;
    padding:0 1em;
    margin-bottom:2em;
}

.notification div.icon{
    float:left;
    font-size:1.3em;
    margin-right:0.5em;
}

div.notification div.type{
	font-size:1.3em;
}

.notification .info{
	font-size:1em;
	margin-left:1em;
}

.img_notification_version{
	background:url("img/notification_version.png") no-repeat scroll 16px center #F9F9F9 !important;
    border-left:2px solid #D31E6E !important;
}

#js_notification_version{
	display:none;
}
/*----THEMES-------*/
.theme{
	border-bottom:1px solid #ccc;
	padding:1em 0;
}
.theme:after{
	content:"";
	display:table;
	clear:both;
}
.theme-img{
	width:38%;
	float:left;
}
.theme-data{
	width:60%;
	float:right;
}
.theme-data p{
	margin-bottom:1em;
}
.theme-data .notes{
	font-size:0.9em;
}
.theme-data .buttons a{
	margin-right:2em;
}
.theme-installed {
    background:#eee;
}
/*---PLUGINS------*/
.plugin{
    border-bottom:1px solid #ccc;
    margin-bottom:2em;
}

.plugin	h3.name{
	font-size:1.5em;
	border-bottom: 1px dotted #CCCCCC;
	padding-bottom: 2px;
}

.plugin	h4.description{
	font-size:1em;
	font-weight:400;
	line-height:1.62em;
}

.plugin	a{
	margin-right:2em;
}
/*----------------------------
	SIDEBAR
----------------------------*/
.sidebar{
	position:fixed;
	top:0;
	left:0;
	width:300px;
	min-height:100%;
	background:#1A1918;
	color:#4D4A45;
	text-transform:uppercase;
	padding:3em 0;
}
.sidebar a{
	display:block;
	padding:1em 0.5em;
	border-bottom:1px solid #262522;
}
.sidebar a span{
	margin-right:1em;
}
.sidebar a:hover,.sidebar a.selected{
	background:#111;
	color:#fff;
	padding-left:1em;
}
/*--------------------------------
  FORMS
---------------------------------*/
.form_block{
	margin:2em 0;
}
form{
	width:100%;
	margin:0 auto;
}
fieldset{
	margin:0;
	padding:0.35em 0.625em 0.75em
}
textarea{
	overflow:auto;
	vertical-align:top
}
legend{
	border:0;
	padding:0;
	*margin-left:-.75em
}
button,input,select,textarea{
	font-family:inherit;
	font-size:100%;
	color:#666;
	margin:0;
	vertical-align:baseline;
	*vertical-align:middle
}
button,input{
	line-height:normal;
	*overflow:visible
}
button,input[type="button"],input[type="reset"],input[type="submit"]{
	cursor:pointer;
	-webkit-appearance:button
}
input[type="checkbox"],input[type="radio"]{
	padding:0
}
button::-moz-focus-inner,input::-moz-focus-inner{
	border:0;
	padding:0
}
label{
	position:relative;
	color:#666;
	border:none;
	margin-left:0.2em;
}
label.blocked{
	display:block;
}
input,textarea,select{
	width:100%;
	border:1px solid rgb(178, 178, 178);
	padding:0.5em;
	margin:1em 0 0;
	box-shadow: 0px 2px 2px rgb(239, 239, 239) inset;
}
input.little,select.little{
	max-width:5em;
	margin-right:0.5em;
}
textarea{
	min-height:10em;
	resize:vertical;
}
input[placeholder],textarea[placeholder]{
	color:#282828;
}
input:focus,textarea:focus,select:focus{
	border-color:#F46346;
	outline:none;
}
input[type="submit"],input[type="button"]{
	width:8em;
	background:#F46346;
	border:0;
	color:#fff;
	text-transform:uppercase;
	padding:0.5em;
	box-shadow:none;
}
input.draft{
	background:#888;
}
input[type="submit"]:hover,input[type="button"]:hover{
  background:#262522;
  text-decoration:none;
}
input[type=file].hidden {
	height:0px;
	opacity:0;
	display:block;
	visibility:hidden;
}
header.separator,header.separator_top{
	text-transform:uppercase;
	background:#262522;
	color:#fff;
	padding:0.5em;
}
.input_tip{
	font-size:0.75em;
}
/*--------------------------------
  Tables
---------------------------------*/
table {
	border-collapse:collapse;
	border-spacing:0;
    margin:0;
    text-align:center;
    width:100%;
    font-size:1em;
    background:#fdfdfd;
    border:1px solid #E7E7E7;
}

table thead {
	background:#262522;
	color:#fff;
	border:1px solid #f1f1f1;
}

table thead	th {
	line-height: 23px;
	padding: 6px 10px 8px;
	vertical-align: top;
	border-right: 1px solid #E7E7E7;
}

table tr td {
	border-bottom: 1px solid #E7E7E7;
	line-height: 23px;
	padding: 6px 10px 8px;
	vertical-align: top;
	border-right: 1px solid #E7E7E7;
}

table td.content {
	text-align:left;
	width:330px;
}

table td.category {
	text-align:left;
	width:70%
}
td span{
	display:block;
}
table div.options a {
	margin-right: 10px;
}

div.pager {
    font-size: 1.3em;
    text-align: left;
    padding-top: 10px;
}

div.pager	a {
	display: inline-block;
	padding: 4px 8px;
	border: 1px solid #ccc;
	background: #FCFCFC;
	margin-right: 5px;
}

/*----------------------------------------------
	NIBBLEBLOG IMG ALIGN CLASSES USED IN EDITOR
----------------------------------------------*/
.nb-align-left{
	float:left;
	margin:0 1em 1em 0;
}
.nb-align-right{
	float:right;
	margin:0 0 1em 1em;
}
.nb-align-center{
	display:block;
	margin:0 auto 1em;
}

/*****************************/
@media all and (max-width:39.875em){
	.overlay{
		display:block;
	}
	.head,.content,.sidebar{
		display:none;
	}
}